
{% load static %}
{% load breadcrumb %}
{% load notification %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap3/css/datetimepicker.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap3/js/bootstrap-datetimepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap3/js/bootstrap-datetimepicker.zh-CN.js' %}"></script>
        <title>notice form example</title>
    </head>

    <body>
	     {% block header %}{% include "header.html" %}{% endblock %}
        <div class='container'>
            <header>
                <div style="margin-top: 5em;"></div>
            </header>
                {% block content %}
					<div class="row">
						<div class="col-xs-12 col-md-3" style="margin-top: 10px" iit='table'>
							{% load navigation %}
							<ul class="nav nav-pills nav-stacked">
								<li class="nav-header"  style="font-size:20px;border-bottom-style:solid; border-width: 3px; border-color:rgb(245, 245, 245)">
									<span class="muted">通知</span>
								</li>
								</br>
								<li class="divider"></li>
								<div style="margin-top: 10px"></div>
								<div class='row-fluid'>
									<div class='span12'>
										<span class="muted"><a href="/notification/" onclick="flag_move()"><span class="glyphicon  glyphicon-hand-right"></span>全部通知</a></span>
										 </script>
									</div>
								</div>
								</br>
								<div class='row-fluid'>
									<div class='span12'>
										<span class="muted"><a href="/notification/change/"><span class="glyphicon glyphicon-cog"></span>设置</a></span>
									</div>
								</div>
							</ul>
						</div> 
						<div class="col-xs-12 col-md-9">
							{% breadcrumb breadcrumbs request %}
							
							{% for message in messages %}
							<div class="{{message.tags}}" style="margin: 0 0 5px 0;">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								{% if notice.is_read == 0 %}
								    <a href="{% url notification_info notice.id %}" target="_blank">{{message}}</a>
								{% else %}
									{{message}}
								{% endif %}
							</div>
							{% endfor %}
                           {% block notification_content %}
                           {% endblock%} 
						</div>
					</div>
				 {% endblock %}
        </div>
    </body>
    

</html>
