
{% load static %}
{% load breadcrumb %}
{% load notification %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap3/css/datetimepicker.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap3/js/bootstrap-datetimepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap3/js/bootstrap-datetimepicker.zh-CN.js' %}"></script>
        <title>notice form example</title>
    </head>

    <body>
	     {% block header %}{% include "header.html" %}{% endblock %}
        <div class='container'>
            <header>
                <div style="margin-top: 5em;"></div>
            </header>
                {% block content %}
					<div class="row" >
						<div class="col-xs-12 col-md-3" style="margin-top: 3px;" iit='table'>
							{% load navigation %}
							<ul class="list-group" id="menu" style="position:absolute;">
								<li class="list-group-item"  style="background-color: rgb(245, 245, 245); width:200px;">
										</span><span class="muted"  style=" color: rgb(153, 153, 153);"><strong>通&nbsp;&nbsp;&nbsp;&nbsp;知</strong></span>
								</li>
								<li class="list-group-item" >
									<span class="muted"><a href="/notification/" onclick="flag_move()"><span class="glyphicon  glyphicon-hand-right"></span>&nbsp;&nbsp;&nbsp;全部通知</a></span>
								</li>
							   <li class="list-group-item" >
									<span class="muted"><a href="/notification/change/"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp;设置</a></span>
								</li>
							</ul>
						</div> 
						<div class="col-xs-12 col-md-9">
						   {% breadcrumb breadcrumbs request %}
                           {% block notification_content %}
                           {% endblock%} 
						</div>
					</div>
				 {% endblock %}
        </div>
    </body>
    

</html>
